@import './about';
@import './default';
@import './sign';

.navbar .container{
    ul{
        display: flex;
        li{
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    margin-left: 10px;
                    // transform: rotate(-90deg);
                }
            }
            ul{
                display: block;
                width: 100%;
                padding: 10px;
                color: rgba(255, 255, 255, 0.859);
                background: brown;
                position: relative;
                display: none;
                &::after{
                    position: absolute;
                    content: '';
                    height: 10px;
                    width: 10px;
                    transform: rotate(45deg);
                    background:brown ;
                    left: 10px;
                    top: -3px;
                }
            }
        }
    }
}


.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(41, 202, 108, 0.6),rgb(43, 43, 202));
}
.showcase .wave{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.showcase .container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 50px;
}
.showcase .container img{
    height: 300px;
    // flex: 1 1 300px;
}
.showcase .container .text{
    h1{
        font-size: 30px;
        text-transform: uppercase;
        line-height: 1.6;
        color: white;
        margin-bottom: 20px;
    }
    p{
        color: rgba(255, 255, 255, 0.712);
        margin-bottom: 15px;
    }
    button{
        padding: 10px 18px;
        font-size: 17px;
        text-transform: capitalize;
        background: rgb(15, 179, 70);
        color: white;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }
    button:hover{
        background: white;
        color: black;
    }
    .div{
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 10px;
        display:block;
        width: 200px;
        margin-bottom: 10px;
        text-transform: capitalize;
        h3{
            font-size: 30px;
            color: white;
            margin-bottom: 10px;
        }
    }
}
 .count-container{
    // position: absolute;
    // bottom: 100px;
    // left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
    .cards{
        padding: 20px;
        // background: rgba(255, 255, 255, 0.853);
        border: 1px solid white;
        color: rgba(52, 23, 23, 0.847);
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover{
            background: rgba(0, 239, 239, 0.1);
        }
        h3{
            font-weight: bold;
            font-size: 30px;
        }
        p{
            margin-top: 10px;
            font-family: poppins;
            text-transform: uppercase;
        }
    }
}







.navbar .container{
    padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid white;
}
 .navbar .container .logo{
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
.navbar .container ul{
    display: flex;
  }
  .navbar .container ul li{
      margin: 0 5px;
      padding: 5px;
      a{
          text-transform: capitalize;
          color: black;
          font-family: nunito;
          transition: all .3s ease-in-out;
      }
      a:hover{
          color: red;
      }
  }

  @media(max-width:650px){
      .showcase .container img{
          height: 200px;
        //   display: none;
        order: 1;
      }
      .showcase .container{
          flex-direction: column;
          gap: 10px;
      }
      .showcase .container .text h1{
          font-size: 30px;
          margin-bottom: 15px;
      }
  }