@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Poppins:wght@400;500&family=Satisfy&display=swap");
.about {
  padding: 50px 0;
  font-family: nunito;
  background: #2b2bca;
}

.about .container .title {
  text-align: center;
}

.about .container .title h1 {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.about .container .title h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: dodgerblue;
}

.about .container .title p {
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.918);
}

.about .container .grid {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.about .container .grid .item {
  padding: 20px;
  background: rgba(250, 250, 250, 0.65);
}

.about .container .grid .item h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
}

.about .container .grid .item p {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.685);
}

.about .container .grid .item button {
  display: inline-block;
  padding: 8px 18px;
  background: dodgerblue;
  color: white;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: arial;
}

.sign-in {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.711)));
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.711));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in form {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.877);
  padding: 20px;
}

.sign-in form h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: poppins;
}

.sign-in form div {
  margin: 20px 0;
}

.sign-in form div label {
  text-transform: capitalize;
  opacity: .7;
}

.sign-in form div input {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.356);
}

.sign-in form div p {
  text-align: center;
}

.sign-in form div p a {
  color: blue;
  text-transform: capitalize;
}

.sign-in form .send {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.sign-in form .send:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.sign-in .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  color: white;
  padding: 7px;
  cursor: pointer;
}

.navbar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container ul li a i {
  margin-left: 10px;
}

.down {
  display: none;
  position: absolute;
  z-index: 4;
}

.down ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 10px 20px;
}

.down ul li {
  text-transform: capitalize;
  padding: 4px 0;
}

.sub-two {
  display: none;
  position: absolute;
  left: -150px;
  margin-top: -20px;
}

.navbar .container ul li .down ul li:hover .sub-two {
  display: block;
}

.navbar .container ul li:hover .down {
  display: block;
}

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 202, 108, 0.6)), to(#2b2bca));
  background: linear-gradient(rgba(41, 202, 108, 0.6), #2b2bca);
}

.showcase .wave {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.showcase .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 50px;
}

.showcase .container img {
  height: 300px;
}

.showcase .container .text h1 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

.showcase .container .text p {
  color: rgba(255, 255, 255, 0.712);
  margin-bottom: 15px;
}

.showcase .container .text button {
  padding: 10px 18px;
  font-size: 17px;
  text-transform: capitalize;
  background: #0fb346;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.showcase .container .text button:hover {
  background: white;
  color: black;
}

.showcase .container .text .div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  display: block;
  width: 200px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.showcase .container .text .div h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.count-container .cards {
  padding: 20px;
  border: 1px solid white;
  color: rgba(52, 23, 23, 0.847);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count-container .cards:hover {
  background: rgba(0, 239, 239, 0.1);
}

.count-container .cards h3 {
  font-weight: bold;
  font-size: 30px;
}

.count-container .cards p {
  margin-top: 10px;
  font-family: poppins;
  text-transform: uppercase;
}

.navbar .container {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
}

.navbar .container .logo {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.navbar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container ul li {
  margin: 0 5px;
  padding: 5px;
}

.navbar .container ul li a {
  text-transform: capitalize;
  color: black;
  font-family: nunito;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .container ul li a:hover {
  color: red;
}

@media (max-width: 650px) {
  .showcase .container img {
    height: 200px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .showcase .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .showcase .container .text h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */